#board{
    display: grid;
    margin: 100px auto;
    grid-template-columns: 130px 130px 130px;
    grid-template-rows: 130px 130px 130px;
    width:394px;
    height: 394px;
    background-color: black;
    grid-gap: 2px;
}

.cells{
    background-color: white;
}

#start-screen{
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: white;
}

#start-menu{
    width: 20%;
    height: 200px;
    margin: 150px auto;
    padding: 15px;
    border: 1px solid black;
    border-radius: 12px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.start-button{
    margin: 25px auto;
    font-size: xx-large;
}

#game-over-screen{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(150, 150, 150, 0.3);
}

#game-over-modal{
    width: 35%;
    position: relative;
    margin: 200px auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 12px;
    line-height: 2rem;
    background-color: white;
    text-align: center;
}